/* მხოლოდ крайние ბურთები მოძრაობენ */
.stone:first-child {
  animation: left-hit 1.2s infinite;
}

.stone:last-child {
  animation: right-hit 1.2s infinite;
}

/* მარცხენა ბურთი */
@keyframes left-hit {
  0% {
    transform: rotate(30deg);
  }

  18% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* მარჯვენა ბურთი */
@keyframes right-hit {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  68% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
