* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* CANVAS – ყველაზე მნიშვნელოვანია */
#neural-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-image: url("ai.jpg");
  background-size: cover;
  background-position: center;
  z-index: 2;
}

/* შავი ფენა ფოტოზე */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* ტექსტი */
.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.content p {
  font-size: 20px;
  opacity: 0.85;
}


