* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

/* CANVAS */
#neural-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

/* ტექსტი */
.content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.content h1 {
  font-size: 56px;
}

